body{
    font-size: 18px;
    background-color: #FFF7AE;
    overflow: hidden;
    margin: 0;
    font-family: 'Microsoft JhengHei', sans-serif;
}
.layout{
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading{
    height: 100vh;
    width: 100%;
}

/*淡入動畫*/
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: scale(0.9);
    }
    to{
        opacity: 1;
        transform: scale(1.0);
    }
}
/*淡出動畫*/
@keyframes fadeOut{
    from{
        opacity: 1;
        transform: scale(1.0);
    }
    to{
        opacity: 0;
        transform: scale(1.1);
    }
}
.loadingImg{
    position: absolute;
    height: auto;
}

.loadingTC{
    width: 5%;
    animation: fadeIn 5s ease-in-out, 
    fadeOut 5s ease-in-out 6s forwards;
}

/*轉圈淡入動畫*/
@keyframes spin-fadeIn{
    from{
        opacity: 0;
        transform: rotate(0deg) scale(0.9);
    }
    to{
        opacity: 1;
        transform: rotate(360deg) scale(1.0);
    }
}
/*轉圈淡出動畫*/
@keyframes spin-fadeout{
    from{
        opacity: 1;
        transform: rotate(0deg) scale(1.0);
    }
    to{
        opacity: 0;
        transform: rotate(-360deg) scale(1.1);
    }
}
.loadingTE{
    width: 10%;
    animation: spin-fadeIn 5s ease-out 1, 
    spin-fadeout 5s ease-in-out 6s forwards;
}

.main{
    display: none;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.titleBar{
    background-color: #FCFCFC;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 0.9;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: sticky; /* 讓 titleBar 隨著頁面滾動固定 */
    top: 0; /* 固定在頁面頂部 */
    z-index: 1000; /* 保證 titleBar 層級較高，不被其他內容遮擋 */
}

.titleBox{
    height: 100%;
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
}

.item{
    font-size: 1.5rem;
    color: #930000;
    width: 15%;
    box-sizing: border-box;
    margin-right: 15px;
    transition: background-color 0.3s ease; /* 增加過渡效果 */
}
.item:hover{
    background-color: #930000;
    color: #FCFCFC;
}

.icon{
    height: 75%;
    width: auto;
}

.cover{
    height: 90vh;
}
.coverImage{
    height: auto;
    width: 60%;
}
.aboutMe{
    background-color: #FCFCFC;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 25px;
}
.aboutText{
    flex: 1;
    margin-right: 30px;
    border: 5px solid;
    padding: 20px;
    border-radius: 20px;
    text-align: justify; /* 兩端對齊 */
}
.hiImg{
    height: 30%;
    width: 30%;
}
.portfolio{
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    flex-direction: column;
}
.portfolioCard{
    border: 5px solid;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.portfolioText{
    flex: 1;
    margin-left: 30px;
    text-align: justify;
    padding: 20px;
}
.portfolioVideo{
    width: 560px;
    height: 315px;
}

@media (max-width: 1023px){
    .loadingTC{
        width: 10%;
    }
    .loadingTE{
        width: 20%;
    }
    .item{
        font-size: 1rem;
        width: 15%;
    }
    .icon{
        height: 75%;
        width: auto;
    }
    .coverImage{
        height: auto;
        width: 80%;
    }
    .aboutMe{
        flex-direction: column;
    }
    .aboutText{
        width: auto;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .hiImg{
        height: 45%;
        width: 45%;
    }
    .portfolioCard{
        flex-direction: column;
    }
    .portfolioText{
        margin-left: 0px;
        padding: 0px;
    }
}

@media (max-width: 767px){
    .item{
        display: none;
    }
    .icon{
        height: 50%;
        width: auto;
    }
    
    .portfolioVideo{
        width: 260px;
        height: 115px;
    }
}